body {
    border-collapse: collapse;
}
h1  {
    text-align: center;
}

.gameboard {
    display: grid;
    grid-template-columns: repeat(3, minmax(50px, 150px) );
    grid-template-rows: repeat(3, minmax(50px, 150px)) 50px;
    justify-content: center;
}

.row {
    display: contents;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 5rem;
    font-weight: 500;
}

.horizontal {
    border-top: 1px solid;
    border-bottom: 1px solid;
}

.vertical {
    border-left: 1px solid;
    border-right:  1px solid;
}

#winner {
    text-align: center;
    margin: 20px;
}

.reset {
    grid-column: 2 / span 1;
    align-self: center;
    justify-self: center;
}

